<div class="col-md-4 col-md-offset-4">
	<h2>Thêm người dùng</h2>
	<form action="/users" method="post" class="form" > <!--enctype="multipart/form-data"-->
		<div class="form-group">
			<label for="full_name">Họ và tên</label>
			<input type="text" name="full_name" id="full_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="dob">Ngày sinh</label>
			<input type="text" name="dob" id="dob" class="form-control">
		</div>
		<div class="form-group">
			<label for="phone">SĐT</label>
			<input type="text" id="phone" name="phone" class="form-control">
		</div>
		<div class="form-group">
			<label for="address">Địa chỉ</label>
			<input type="text" id="address" name="address" class="form-control">
		</div>
		<div class="form-group">
			<label for="identityNumber">Số CMND</label>
			<input type="text" id="identity_number" name="identity_number" class="form-control">
		</div>
		<div class="form-group">
			<label for="licenseNumber">Số giấy phép lái xe</label>
			<input type="text" id="license_number" name="license_number" class="form-control">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Lưu thông tin</button>
		</div>
	</form>
</div>