<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Toyota</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="css/mdb.min.css" rel="stylesheet">
	<!-- Your custom styles (optional) -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/respon_mobile.css" rel="stylesheet">
	<link href="css/lightslider.css" rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark no-content nav_mobile">
		<!-- SideNav slide-out button -->
		<div class="float-left">
			<a class="black-text button-collapse" href="#!" data-activates="slide-out"><i class="fa fa-bars"></i></a>
		</div>
		<!-- Breadcrumb-->
		<div class="mr-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
					<li class="breadcrumb-item">
						<a class="black-text" href="#!">Javascript</a>
						<i class="fa fa-angle-double-right mx-2 black-text" aria-hidden="true"></i></li>
					<li class="breadcrumb-item active">Date Picker</li>
				</ol>
			</nav>
		</div>
		<ul class="navbar-nav ml-auto nav-flex-icons">
			<li class="nav-item">
				<a class="nav-link"><img src="images/logo-toyota.png" alt=""></a>
			</li>
			<li class="nav-item">
				<a class="nav-link"><img src="images/icon-tmv-find-dealer.png" alt=""></a>
			</li>

		</ul>
	</nav>
	<header class="nav_web">
		<div class="top_menu ">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="logo z-depth-1 ">
							<img src="images/HMT_logo.jpg" alt="" width="100">
						</div>
					</div>
					<div class="col-md-9">
						<nav class="navbar navbar-expand-md navbar-dark  mb-5 pb-3">
							<div class="ml-auto">
								<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
									<li class="breadcrumb-item">
										<form class="form-inline md-form form-sm mt-0">
											<i class="fa fa-search" aria-hidden="true"></i>
											<input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
										</form>
									</li>
									<li class="breadcrumb-item">
										<a href="#"><img src="images/icon-tmv-suboi.png" alt=""></a>
									</li>
									<li class="breadcrumb-item">
										<a href="#!"><img src="images/icon-tmv-facebook.png" alt=""></a>
									</li>
									<li class="breadcrumb-item">
										<a href="#!"><img src="images/icon-tmv-youtube.png" alt=""></a>
									</li>
								</ol>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="buttom_menu">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-expand-md navbar-dark  mb-5">
							<div class="mr-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
										<li class=" nav-item dropdown car_menu ">
											<a class="nav-link dropdown-toggle " style="margin-left: 100px;" id="navbarDropdownMenuLink1" data-toggle="dropdown"
											 aria-haspopup="true" aria-expanded="false">XE MỚI</a>
											<div class="submenu_item">
												<div class="container-fluid">
													<div class="row">
														<div class="col-md-3">
															<div class="menu_left">
																<button class="tablinks" onmouseover="openCity(event, 'Yaris')">Yaris(1)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
																<button class="tablinks" onmouseover="openCity(event, 'Vigo')">Vigo(2)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
																<button class="tablinks" onmouseover="openCity(event, 'Attis')">Corolla Attis(5)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
																<button class="tablinks" onmouseover="openCity(event, 'Camry')">Camry(3)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
																<button class="tablinks" onmouseover="openCity(event, 'Fortuner')">Fortuner(4)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
																<button class="tablinks" onmouseover="openCity(event, 'Prado')">Land Cruiser Prado (1)<i class="fa fa-angle-right float-right"
																	 aria-hidden="true"></i></button>
															</div>
														</div>
														<div class="col-md-9">
															<div id="Yaris" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/kmisun.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
															<div id="Vigo" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/uaxdpx.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
															<div id="Attis" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/swzbdm.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
															<div id="Camry" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/nlbdu0.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
															<div id="Fortuner" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/swzbdm.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
															<div id="Prado" class="item_info">
																<div class="row">
																	<div class="col-md-4">
																		<h3 class=" border-bottom border-dark w-75 pb-3 text-danger">YARIS G CVT</h3>
																		<p class="h3-responsive">Thay đổi để bứt phá</p>
																		<p>Giá từ: 650.000.000 VND </p>
																		<ul>
																			<li>Số chỗ ngồi:5 chỗ</li>
																			<li>Kiểu dáng</li>
																			<li>xuất sứ</li>
																			<li>nhiêu liệu</li>
																			<li>thông tin khác</li>
																			<li>Số tự động vô cấp</li>

																		</ul>
																	</div>
																	<div class="col-md-8">
																		<img src="images/4podxq.png" alt="">
																		<button type="button" class="btn btn-danger">Xem chi tiết</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class=" nav-item dropdown item_menu" style="left: 20%;">
											<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
											 aria-expanded="false">DỊCH VỤ</a>
											<div class="dropdown-menu dropdown-primary">
												<a class="dropdown-item" href="#">Chính sách bảo hành</a>
												<a class="dropdown-item" href="#">Dịch vụ sửa chữa</a>
												<a class="dropdown-item" href="#">Dịch vụ bảo dưỡng</a>
												<a class="dropdown-item" href="#">Kiểm tra và triệu hồi</a>
											</div>
										</li>
										<li class=" nav-item dropdown item_menu" style="left: 28%;">
											<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
											 aria-expanded="false">DỊCH VỤ GIA TĂNG</a>
											<div class="dropdown-menu dropdown-primary">
												<a class="dropdown-item" href="#">Vay Toyota - Mua Toyota</a>
												<a class="dropdown-item" href="#">Xe đã qua sử dụng</a>
												<a class="dropdown-item" href="#">Bảo hiểm Toyota</a>
												<a class="dropdown-item" href="#">Phụ tùng & Phụ kiện</a>
											</div>
										</li>
										<li class="breadcrumb-item item_menu" style="left: 44%;"><a class="black-text" href="#!">CÔNG NGHỆ</a></li>
										<li class="breadcrumb-item item_menu" style="left: 53%;"><a class="black-text" href="#!">TIN TỨC</a></li>
										<li class="breadcrumb-item item_menu" style="left: 61%;"><a class="black-text" href="#!">SỰ KIỆN</a></li>
										<li class="breadcrumb-item item_menu" style="left: 69%;"><a class="black-text " href="#!"> <img src="images/icon-tmv-find-dealer.png"
												 alt=""></a></li>
										<li class="item_menu" style="left: 74%;top: -9%"><button type="button " class="btn btn-danger">Tìm đại lý</button></li>
									</ol>
								</nav>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="tool_icon_right tool_show_txt">
		<span class="trigger"></span>
		<div class="inner">
			<div class="item">
				<a class="toolAction" href="#">
					<i>"So sánh xe"</i>
					<img src="images/tool_icon_right_09.png" alt="So sánh xe">
				</a>
				<span>
					<a href="#">So sánh xe</a>
				</span>
			</div>
			<div class="item">
				<a class="" href="#">
					<i>"Dự toán chi phí"</i>
					<img src="images/tool_icon_right_03.png" alt="Dự toán chi phí">
				</a>
			</div>
			<div class="item">
				<a class="" href="#">
					<i>"Đăng kí lái thử"</i>
					<img src="images/tool_icon_right_04.png" alt="Đăng kí lái thử">
				</a>
			</div>
			<div class="item">
				<a class="" href="#">
					<i>"Đặt lịch hẹn dịch vụ"</i>
					<img src="images/tool_icon_right_06.png" alt="Đặt lịch hẹn dịch vụ">
				</a>
			</div>
			<div class="item">
				<a class="" href="#">
					<i>"Tải bảng giá"</i>
					<img src="images/tool_icon_right_08.png" alt="So sánh xe">
				</a>
			</div>
			<div class="item">
				<a class="" href="#">
					<i>"Tải catalogue"</i>
					<img src="images/tool_icon_right_11.png" alt="Tải bảng giá">
				</a>
			</div>
		</div>
	</div>
	<section class="slidebar">
		<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
			<ol class="carousel-indicators float-right">
				<li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-1z" data-slide-to="1"></li>
				<li data-target="#carousel-example-1z" data-slide-to="2"></li>
				<li data-target="#carousel-example-1z" data-slide-to="3"></li>
				<li data-target="#carousel-example-1z" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<img class="d-block w-100" src="images/1_PRODUCT_PRODUCT.png" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="images/1BN_PRODUCT_RUSHT.png" alt="Second slide">
				</div>
				<div class="carousel-item ">
					<img class="d-block w-100" src="images/1_PRODUCT_AVANZA.png" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="images/Homepage.jpg" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="images/1_PRODUCT_VIOS.png" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
		</div>
	</section>

	<section class="box_menu">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<span class="item_icon_img">
						<img class="img1" src="images/icon-tmv-home-page.png" alt="">
						<img class="img2" src="images/icon-tmv-home-page-on.png" alt="">
						<a href="#">KHUYẾN MẠI</a>
					</span>

				</div>
				<div class="col-3">
					<span class="item_icon_img">
						<img class="img1" src="images/icon-tmv-home-page-02.png" alt="">
						<img class="img2" src="images/icon-tmv-home-page-on-02.png" alt="">
						<a href="#">BẢNG GIÁ</a>
					</span>

				</div>
				<div class="col-3">
					<span class="item_icon_img">
						<img class="img1" src="images/icon-tmv-home-page-03.png" alt="">
						<img class="img2" src="images/icon-tmv-home-page-on-03.png" alt="">
						<a href="#">DỰ ĐOÁN CHI PHÍ</a>
					</span>

				</div>
				<div class="col-3">
					<span class="item_icon_img">
						<img class="img1" src="images/icon-tmv-home-page-04.png" alt="">
						<img class="img2" src="images/icon-tmv-home-page-on-04.png" alt="">
						<a href="#">ĐĂNG KÝ LÁI THỬ</a>
					</span>

				</div>
			</div>
		</div>
	</section>
	<section class="box_car box_linecar mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title_service pb-3">
						<h3 class="h3-responsive mt-5">Các dòng xe</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-2"></div>
				<div class="col-md-8 col-md-push-2 col-sm-9">
					<div class="button-group filters-button-group  mb-3">
						<button class="button is-checked" data-filter=".all">Tất cả</button>
						<button class="button" data-filter=".hatchback">Hatchback</button>
						<button class="button" data-filter=".sedan">Sedan</button>
						<button class="button" data-filter=".suv">SUV</button>
						<button class="button" data-filter=".dadung">Đa dụng</button>
						<button class="button" data-filter=".thuongmai">Thương mại</button>
						<button class="button" data-filter=".bantai">Bán tải</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul id="lightSlider" class="grid">
						<li class="element-item all hatchback " data-category="hatchback">
							<img class="img1" src="images/Image-2-s.png" alt="">
							<img class="img2" src="images/Silver-1D6-s.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Yaris</h3>
								<p class="font-weight-bold">Giá từ: 650.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Hộp số tự động</li>
									<li>Động cơ xăng - 1496 cc</li>
								</ul>
							</div>
						</li>
						<li class="element-item all hatchback" data-category="hatchback">
							<img class="img1" src="images/WIGO_SIDE_red_Flip-(280x120).png" alt="">
							<img class="img2" src="images/Image-1-G2.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Wigo</h3>
								<p class="font-weight-bold">Giá từ: 345.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Số sàn 5 cấp</li>
									<li>Động cơ xăng dung tích 1.197 cm3</li>
								</ul>
							</div>

						</li>
						<li class="element-item all sedan " data-category="sedan">
							<img class="img1" src="images/Image-2-s.png" alt="">
							<img class="img2" src="images/Silver-1D6-s.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Vios</h3>
								<p class="font-weight-bold">Giá từ: 531.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Số sàn 5 cấp</li>
									<li>Động cơ xăng dung tích 1.496 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all sedan " data-category="sedan">
							<img class="img1" src="images/corlla-580x250 copy.png" alt="">
							<img class="img2" src="images/18e-while-040_1506074971.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Corolla Altis</h3>
								<p class="font-weight-bold">Giá từ: 697.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Số tay 6 cấp</li>
									<li>Động cơ xăng dung tích 1.798 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all  sedan " data-category="sedan">
							<img class="img1" src="images/daidien.png" alt="">
							<img class="img2" src="images/BLACK-218-s-E-G-Q.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Camry</h3>
								<p class="font-weight-bold">Giá từ: 997.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Số tự động 6 cấp</li>
									<li>Động cơ xăng dung tích 1.998 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all suv " data-category="suv">
							<img class="img1" src="images/fortuner-580x250.png" alt="">
							<img class="img2" src="images/phantom-brown-4w9_1483072298.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Fortuner</h3>
								<p class="font-weight-bold">Giá từ: 1.026.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>Hộp số tay 6 cấp</li>
									<li>Động cơ dầu - 2.393 cc, 4x2</li>
								</ul>
							</div>
						</li>
						<li class="element-item all  suv " data-category="suv">
							<img class="img1" src="images/prado-580x250.png" alt="">
							<img class="img2" src="images/Trang-070-2.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Land Cruiser Prado</h3>
								<p class="font-weight-bold">Giá từ: 2.340.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>Số tự động 6 cấp</li>
									<li>Động cơ xăng - 2.694 cc, 4x4</li>
								</ul>
							</div>
						</li>
						<li class="element-item all suv " data-category="suv">
							<img class="img1" src="images/cruiser-580x250.png" alt="">
							<img class="img2" src="images/landcruiser-1f7_1449465751.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Land Cruiser</h3>
								<p class="font-weight-bold">Giá từ: 3.650.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>Số tự động 6 cấp</li>
									<li>Động cơ xăng - 4.608 cc, 4x4</li>
								</ul>
							</div>
						</li>
						<li class="element-item all dadung" data-category="dadung">
							<img class="img1" src="images/ALVE1712-1002.png" alt="">
							<img class="img2" src="images/600x249.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Alphard luxury</h3>
								<p class="font-weight-bold">Giá từ: 4.038.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>Số tự động 8 cấp</li>
									<li>Động cơ xăng dung tích 3456 cc</li>
								</ul>
							</div>
						</li>
						<li class="element-item all suv " data-category="suv">
							<img class="img1" src="images/Image-1-2.png" alt="">
							<img class="img2" src="images/Image-2-2.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Rush</h3>
								<p class="font-weight-bold">Giá từ: 668.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>Số tự động 4 cấp</li>
									<li>Động cơ xăng dung tích 1.496 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all dadung " data-category="dadung">
							<img class="img1" src="images/innova-580x250.png" alt="">
							<img class="img2" src="images/maudong-g_1468086681.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Innova</h3>
								<p class="font-weight-bold">Giá từ: 771.000.000 VND</p>
								<ul>
									<li>8 chỗ ngồi</li>
									<li>số tay 5 cấp</li>
									<li>Động cơ xăng dung tích 1.998 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all dadung " data-category="dadung">
							<img class="img1" src="images/Image-1-MT.png" alt="">
							<img class="img2" src="images/Image-2-MT.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Avamza</h3>
								<p class="font-weight-bold">Giá từ: 650.000.000 VND</p>
								<ul>
									<li>7 chỗ ngồi</li>
									<li>số tay 5 cấp</li>
									<li>Động cơ xăng dung tích 1.329 cm3</li>
								</ul>
							</div>
						</li>
						<li class="element-item all thuongmai " data-category="thuongmai">
							<img class="img1" src="images/hiace-580x250.png" alt="">
							<img class="img2" src="images/HIACE HOMEPAGE_Màu xe_Bạc-1E7_600 x 249.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Hiace</h3>
								<p class="font-weight-bold">Giá từ: 999.000.000 VND</p>
								<ul>
									<li>15 chỗ ngồi</li>
									<li>Số tay 6 cấp</li>
									<li>Động cơ dầu - 2.982 cc</li>
								</ul>
							</div>
						</li>
						<li class="element-item all bantai" data-category="bantai">
							<img class="img1" src="images/Toyota_Grey_Hilux2_280x121px.png" alt="">
							<img class="img2" src="images/600x249.png" alt="">
							<div class="infor">
								<h3 class="font-weight-bold">Hilux</h3>
								<p class="font-weight-bold">Giá từ: 695.000.000 VND</p>
								<ul>
									<li>5 chỗ ngồi</li>
									<li>Số tay 6 cấp</li>
									<li>Động cơ dầu - 2.393 cc</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>

	<section class="box_car pb-5 pt-5">
		<div class="container">
			<div class="row">
				<div class="col-6 ">
					<img class="img-fluid z-depth-1" src="images/bscxwv.png" alt="">
				</div>
				<div class="col-6">
					<img class="img-fluid z-depth-1" src="images/3jlymi.png" alt="">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-6">
					<img class="img-fluid z-depth-1" src="images/enoqz1.png" alt="">
				</div>
				<div class="col-6">
					<img class="img-fluid z-depth-1" src="images/xiiwbq.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<section class="box_service mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title_service pb-3">
						<h3 class="h3-responsive">Dịch vụ</h3>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/home-dich-vu.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">CHÍNH SÁCH BẢO HÀNH</a></h3>
							<p class="text-justify">Chính sách mang lại những sửa chữa cần thiết, sử dụng những phụ tùng mới hoặc những phụ
								tùng tái chế cho xe của Khách hàng nằm trong chế độ được bảo hành</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/home-dich-vu-2.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">DỊCH VỤ BẢO DƯỠNG</a></h3>
							<p class="text-justify">Dịch vụ kiểm tra, bảo dưỡng một cách định kỳ để đảm bảo chiếc xe của Khách hàng luôn
								được vận hành hiệu quả</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/home-dich-vu-3.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">DỊCH VỤ SỬA CHỮA</a></h3>
							<p class="text-justify">Ngoài dịch vụ bảo dưỡng và sửa chữa những hiện tượng bất thường trên xe, Toyota cũng
								cung cấp dịch vụ sửa chữa đối với những hư hỏng do va chạm mà chiếc xe của Khách hàng gặp phải trong quá trình
								sử dụng</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/home-dich-vu-4.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">KIỂM TRA VÀ TRIỆU HỒI</a></h3>
							<p class="text-justify">Khách hàng có thể kiểm tra xem xe của mình có thuộc các chương trình kiểm tra & triệu
								hồi hay không</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="box_service box_service_increase mt-5 pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title_service pb-3">
						<h3 class="h3-responsive">Dịch vụ gia tăng</h3>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/dich-vu-gia-tang.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">VAY TOYOTA - MUA TOYOTA</a></h3>
							<p class="text-justify">Các sản phẩm vay mua xe Toyota đáp ứng đa dạng các nhu cầu tài chính của khách hàng.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/dich-vu-gia-tang-02.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">PHỤ TÙNG & PHỤ KIỆN</a></h3>
							<p class="text-justify">Tất cả các phụ tùng, phụ kiện chính hãng, được nhập khẩu từ Nhật Bản, Thái Lan và các
								nước trong khu vực.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/dich-vu-gia-tang-03.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">XE ĐÃ QUA SỬ DỤNG</a></h3>
							<p class="text-justify">Xe Toyota đã qua sử dụng với chất lượng đảm bảo, giá cả hợp lý.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item_service pt-5">
						<a href="#">
							<img class="ml-5 mb-3" src="images/dich-vu-gia-tang-04.png" alt="">
						</a>
						<div class="info">
							<h3 class="h5-responsive"><a href="#" class="text-danger">BẢO HIỂM TOYOTA</a></h3>
							<p class="text-justify">Sản phẩm dành riêng cho khách hàng Toyota, với dịch vụ 1 cửa về Bảo hiểm, quy trình xử
								lý chất lượng cao, nhanh chóng.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="box_technology mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title_service pb-3">
						<h3 class="h3-responsive">Công nghệ</h3>

					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs md-tabs scrollmenu" id="myTabEx1" role="tablist">
						<li class="nav-item">
							<a class="nav-link active show" id="home-tab-ex" data-toggle="tab" href="#home-ex" role="tab" aria-controls="home-ex"
							 aria-selected="true">An toàn</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab-ex" data-toggle="tab" href="#profile-ex" role="tab" aria-controls="profile-ex"
							 aria-selected="false">Động cơ & vận hành</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="contact-tab-ex" data-toggle="tab" href="#contact-ex" role="tab" aria-controls="contact-ex"
							 aria-selected="false">Dịch vụ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tech-tab-ex" data-toggle="tab" href="#tech-ex" role="tab" aria-controls="tech-ex"
							 aria-selected="false">Công nghệ khác</a>
						</li>
					</ul>
					<div class="tab-content pt-5" id="myTabContentEx1">

						<div class="tab-pane fade active show" id="home-ex" role="tabpanel" aria-labelledby="home-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a>
											<img class="img-fluid item__img" src="images/lzot5d.png" alt="video" data-toggle="modal" data-target="#modal1">
										</a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/spswwe.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/e3zt5f.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/osub3n.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>

							</div>
							<br>
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/hoxy0q.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/vp4d0m.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/ci204q.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/t2tlm4.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane fade" id="profile-ex" role="tabpanel" aria-labelledby="profile-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/3nshmh.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/nfug5w.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/ludbla.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/xnpzqr.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/ig4jza.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/e3swga.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/bdt5sd.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/0gr3fx.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="contact-ex" role="tabpanel" aria-labelledby="contact-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/u3entg.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/33x5pq.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/5qc55o.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/d2vi1v.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/kcl4z0.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="tech-ex" role="tabpanel" aria-labelledby="tech-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal23" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/dfan1a.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/002rqb.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal25" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/15ahn0.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/4lkj0v.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal27" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/o1akne.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal28" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/kn1yb4.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item__img">
										<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-body mb-0 p-0">
														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a><img class="img-fluid" src="images/1weaxz.png" alt="video" data-toggle="modal" data-target="#modal1"></a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="see_add mt-5 mb-5">

						<a href="#" class="flex-center btn btn-outline-danger btn-rounded waves-effect pt-2 pb-2 pl-3 pr-3">Xem thêm...
						</a>
					</div>

				</div>


			</div>
		</div>
	</section>

	<section class="box_new  mt-5 pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title_service pb-3">
						<h3 class="h3-responsive">Tin tức</h3>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs md-tabs" id="myTabEx" role="tablist">
						<li class="nav-item">
							<a class="nav-link active show" id="infoc-tab-ex" data-toggle="tab" href="#infoc-ex" role="tab" aria-controls="infoc-ex"
							 aria-selected="true">Tin tức chung</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="sale-tab-ex" data-toggle="tab" href="#sale-ex" role="tab" aria-controls="sale-ex"
							 aria-selected="false">Khuyến mại</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="event-tab-ex" data-toggle="tab" href="#event-ex" role="tab" aria-controls="event-ex"
							 aria-selected="false">Sự Kiện</a>
						</li>
					</ul>
					<div class="tab-content pt-5" id="myTabContentEx">
						<div class="tab-pane fade active show" id="infoc-ex" role="tabpanel" aria-labelledby="infoc-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/1qjktk.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/dcit4q.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/3he4cj.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/v3wcyn.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/cufemi.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/idhfvg.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/ylxcn3.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/ddo5z2.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="tab-pane fade" id="sale-ex" role="tabpanel" aria-labelledby="sale-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/ygh3pk.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/ctpvi0.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam-trien-khai-chuong-trinh.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam-thuc-hien-le-boc-tham-trung-thuong-xe-camry-danh-cho-khach-hang-mua-xe-thang-5-chuong-trinh-khuyen-mai-va-lai-thu-xe-toyota.jpg"
												 alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/toyota-viet-nam-thuc-hien-chuong-trinh-khuyen-mai-thang-6-danh-cho-khach-hang-mua-xe-lap-rap-trong-nuoc.jpg"
												 alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam-thuc-hien-chuong-trinh-khuyen-mai-cho-khach-hang-mua-xe-toyota-lap-rap-trong-nuoc.png"
												 alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam-thuc-hien-chuong-trinh-khuyen-mai-cho-khach-hang-mua-xe-vios-va-corolla-altis.png"
												 alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="tab-pane fade" id="event-ex" role="tabpanel" aria-labelledby="event-tab-ex">
							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/1qp4jf.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/jsbhkw.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/opgu0n.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/ztsaxq.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/toyota-viet-nam-to-chuc-su-kien-chamthutinchat-luong-toyota.png" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top img-fluid h-75" src="images/toyota-viet-nam-se-mang-nhung-trai-nghiem-day-mau-sac-toi-trien-lam-o-to-viet-nam-2017.png">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/buoi-le-trao-giai-thuong-xe-camry-trong-khuon-kho-chuong-trinh-khuyen-mai-va-lai-thu-xe-toyota-cho-khach-hang-ha-tan-duc-tai-toyota-nha-trang.jpg">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card-deck">
										<div class="card mb-4">
											<div class="view overlay">
												<img class="card-img-top" src="images/ddo5z2.jpg" alt="Card image cap">
												<a href="#!">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body">
												<p class="card-text car_title">Toyota Việt Nam Giới Thiệu Corolla Altis Mới 2018</p>
												<p class="card-text float-right">04/10/2018</p>
											</div>

										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="see_add mt-5 mb-2">
						<a href="#" class="flex-center btn btn-outline-danger btn-rounded waves-effect pt-2 pb-2 pl-3 pr-3">Xem thêm...
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="box_contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="item_contact">
						<form class="text-center  p-5">
							<p class="h4 mb-4 border-bottom border-danger text-left pb-4 h3-responsive">Trao đổi với chúng tôi</p>
							<select class="browser-default custom-select mb-4">
								<option value="">Thông tin quý khác cần biết (*)</option>
								<option value="1" selected>Bán hàng</option>
								<option value="2">Dịch vụ/option>
								<option value="3">Đại lý</option>
								<option value="4">Tư vấn tài chính</option>
								<option value="4">Góp ý website</option>
							</select>
							<div class="form-row mb-4">
								<div class="col">
									<input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Họ tên (*)">
								</div>
								<div class="col">
									<input type="text" id="defaultRegisterFormLastName1" class="form-control" placeholder="Điện thoại(*)">
								</div>
							</div>
							<div class="form-text mb-4">
								<input type="text" id="defaultRegisterFormEmail" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<textarea class="form-control rounded-0" id="exampleFormControlTextarea3" rows="3" placeholder="Nội dung"></textarea>
							</div>
							<button type="button" class="btn btn-danger flex-left">Gửi</button>

						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="item_contact">
						<form class="text-center  p-5">
							<p class="h4 mb-4 border-bottom border-danger text-left pb-4 h3-responsive">Đại lý của bạn</p>
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Miền Bắc</option>
								<option value="2">Miền Trung</option>
								<option value="3">Miền Nam</option>
							</select>
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
							</select>
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Hàm Thuận Bắc</option>
							</select>
							<button type="button" class="btn btn-danger flex-left">Tìm đại lý</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="box_contact_mobile">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="item_contact">
						<span class="border-bottom border-light " data-toggle="collapse" data-target="#info_contact">
							<p class="h4 text-left h3-responsive">Trao đổi với chúng tôi</p>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</span>
						<form id="info_contact" class="text-center  pl-1 pr-1 pt-1 pb-1 collapse">


							<select class="browser-default custom-select mb-4">
								<option value="">Thông tin quý khác cần biết (*)</option>
								<option value="1" selected>Bán hàng</option>
								<option value="2">Dịch vụ/option>
								<option value="3">Đại lý</option>
								<option value="4">Tư vấn tài chính</option>
								<option value="4">Góp ý website</option>
							</select>
							<div class="form-row mb-4">
								<div class="col">
									<input type="text" id="defaultRegisterFormFirstName4" class="form-control" placeholder="Họ tên (*)">
								</div>
								<div class="col">
									<input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Điện thoại(*)">
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Nội dung"></textarea>
							</div>
							<button type="button" class="btn btn-danger flex-left">Gửi</button>

						</form>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="box_contact_mobile">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="item_contact">
						<span class="border-bottom border-light " data-toggle="collapse" data-target="#info_daily">
							<p class="h4 text-left h3-responsive">Đại lý của bạn</p>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</span>
						<form id="info_daily" class="text-center pl-1 pr-1 pt-1 pb-1	collapse">
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Miền Bắc</option>
								<option value="2">Miền Trung</option>
								<option value="3">Miền Nam</option>
							</select>
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
								<option value="1" selected>Hà nội</option>
								<option value="2">TP. Hồ Chí Minh</option>
								<option value="3">Quảng Bình</option>
							</select>
							<select class="browser-default custom-select mb-4">
								<option value="1" selected>Hàm Thuận Bắc</option>
							</select>
							<button type="button" class="btn btn-danger flex-left">Tìm đại lý</button>

						</form>
					</div>
				</div>

			</div>
		</div>
	</section>
	<footer class=" footer_web page-footer font-small pt-5">
		<div class="container text-center text-md-left">
			<div class="row">
				<div class="col-md-2 mx-auto">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">DỊCH VỤ</h5>
					<ul class="list-unstyled">
						<li><a href="#!">Bảo hành</a></li>
						<li><a href="#!">Bảo dưỡng</a></li>
						<li><a href="#!">Sửa chữa chung</a></li>
						<li><a href="#!">Kiểm tra/chiệu hổi</a></li>
						<li><a href="#!">Phục tùng và sự kiện</a></li>
					</ul>

				</div>

				<hr class="clearfix w-100 d-md-none">
				<div class="col-md-2 mx-auto">

					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">DỊCH VỤ GAI TĂNG</h5>

					<ul class="list-unstyled">
						<li><a href="#!">Xe đã qua sử dụng</a></li>
						<li><a href="#!">Vay Toyota - Mua Toyota</a></li>
						<li><a href="#!">Bảo hiểm</a></li>
					</ul>

				</div>
				<hr class="clearfix w-100 d-md-none">
				<div class="col-md-2 mx-auto">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Công cụ hỗ trợ</h5>
					<ul class="list-unstyled">
						<li><a href="#!">So sánh sản phẩm</a></li>
						<li><a href="#!">Dự toán chi phí</a></li>
						<li><a href="#!">Hỗ trợ tài chính</a></li>
						<li><a href="#!">Đăng ký lái thử</a></li>
						<li><a href="#!">Đặt lịch hẹn dịch vụ</a></li>
						<li><a href="#!">Tải catalogue</a></li>
					</ul>
				</div>
				<hr class="clearfix w-100 d-md-none">
				<div class="col-md-2 mx-auto">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">TIN TỨC</h5>
					<ul class="list-unstyled">
						<li><a href="#!">Tin tức chung</a></li>
						<li><a href="#!">Khuyễn mại</a></li>
						<li><a href="#!">Sự kiện</a></li>
						<li><a href="#!">Báo chỉ viết về toyota</a></li>
					</ul>
				</div>
				<hr class="clearfix w-100 d-md-none">
				<div class="col-md-2 mx-auto">

					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">LỜI KHUYÊN CHUYÊN GIA</h5>

					<ul class="list-unstyled">
						<li><a href="#!">Hướng dẫn sử dụng xe</a></li>
						<li><a href="#!">Những chú ý tăng tuổi thọ lốp</a></li>
						<li><a href="#!">Những chú ý tăng tuổi thọ ác quy</a></li>
						<li><a href="#!">Hướng dẫn lái xe an toàn</a></li>

					</ul>

				</div>
				<hr class="clearfix w-100 d-md-none">
				<div class="col-md-2 mx-auto">

					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">HOẠT ĐỘNG ĐẠI LÝ</h5>

					<ul class="list-unstyled">
						<li><a href="#!">Khuyễn mãi</a></li>
						<li><a href="#!">Tin tức</a></li>
						<li><a href="#!">Sự Kiện</a></li>
					</ul>

				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-5">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">CÔNG TY Ô TÔ TOYOTA VIỆT NAM</h5>
					<ul class="list-unstyled">
						<li><a href="#!">Giấy CNĐKDN: 191022000028 Ngày cấp: 26/03/2007</a></li>
						<li><a href="#!">Cơ quan cấp: Sở kế hoạch và đầu tư tỉnh Vĩnh Phúc</a></li>
						<li><a href="#!">Địa chỉ: Phường Phúc Thắng, Thành phố Phúc Yên, Tỉnh Vĩnh Phúc</a></li>
						<li><a href="#!"><img src="images/tbbct-tmv.png" class="mt-3 mb-3" alt=""></a></li>
						<li><a href="#!">Sơ đồ trang</a> | <a href=""> Chính sách và điều khoản</a> | <a href="">Chính sách bảo mật thông
								tin cá nhân</a></li>

					</ul>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5 class="font-weight-bold text-uppercase mt-3">ĐĂNG KÝ NHẬN TIN</h5>
						<div class="card-body">
							<form class="text-center" style="color: #757575;">
								<div class="md-form">
									<input type="text" id="materialContactFormName" class="form-control">
									<label for="materialContactFormName">Họ Tên (*)</label>
								</div>

								<div class="md-form">
									<input type="email" id="materialContactFormEmail" class="form-control">
									<label for="materialContactFormEmail">E-mail (*)</label>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">ĐƯỜNG DÂY NÓNG</h5>
					<ul class="list-unstyled">
						<li><a href="#!"><img class="mr-4" src="images/icon-hotline-ft-tmv-1.png" alt="">1800 1524<p class="ml-5">0916
									001 524</p></a></li>
						<li class="mb-3"><a href="#!"><img class="mr-3" src="images/icon-hotline-ft-tmv-3.png" alt="">tmv_cs@toyotavn.com.vn</a></li>
						<li class="mb-3"><a href="#!"><img class="mr-3" src="images/icon-hotline-ft-tmv-2.png" alt="">Thông tin liên hệ</a></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<ul class="list-unstyled" style="margin-top: -35px; font-size: 12px;">
						<li class="flex-center">© Bản quyền thuộc về Công ty ô tô Toyota Việt Nam</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Footer mobile-->
	<footer class="page-footer font-small special-color-dark footer_mobile border-bottom border-light">

		<div class="tool_icon_right tool_show_txt">
			<div class="inner">
				<p class="item">
					<a class="toolAction" href="/so-sanh"><i>So sánh<br>xe</i></a>
				</p>
				<p class="item">
					<a class="toolAction" href="/du-toan-chi-phi"><i>Dự toán<br>chi phí</i></a>
				</p>
				<p class="item">
					<a class="toolAction" href="/dang-ky-lai-thu"><i>Đăng ký<br>lái thử</i></a>
				</p>
				<p class="item">
					<a class="toolAction" href="/dang-ky-dich-vu"><i>Đặt lịch hẹn<br>dịch vụ</i></a>
				</p>
				<p class="item">
					<a href="tai-file/?url=/Content/download/bang-gia-xe-241018.pdf" target="_blank"><i>Tải<br>bảng giá</i></a>
				</p>
				<p class="item">
					<a href="/catalogue" target="_blank"><i>Tải<br>catalogue</i></a>
				</p>
			</div>
		</div>

	</footer>
	<!-- JQuery -->

	<script>
		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("item_info");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/lightslider.js"></script>
	<script type="text/javascript" src="js/slider.js"></script>


</body>

</html>